@charset "UTF-8";
/* Import de minreset.css pour normaliser l'affichage entre navigateurs */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
/* Ajout de la police Google Font: https://fonts.google.com/specimen/Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

html {
  height: 100%;
  background: #2f263c;
  font-family: 'Montserrat', sans-serif;
  color: darkgray;
}

.sidebar {
  background: #222325;
  height: 100%;
  width: 12rem;
  position: fixed;
  padding: 1rem;

}
.sidebar a{
  text-decoration: none;
  color: darkgray;
}

.sidebar-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: chartreuse;
}

.sidebar-start {
  background: crimson;
}

.sidebar-center {
  background: darkblue;
}

.sidebar-end {
  background: darkgreen;
}

.main{
  margin-left: 12rem;
  padding: 2rem;
}
